<ion-content>
  <ion-list>
    <ion-item>
        <ion-input [(ngModel)]="phone" type="tel" placeholder="请输入手机号" maxlength="13" minlength="13"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="password" type="password" placeholder="请输入密码"></ion-input>      
    </ion-item>
    <ion-button expand="block">登录</ion-button>
    <div style="text-align:center">
      <ion-button routerLink="/signup">注册</ion-button>
      <ion-button routerLink="">忘记密码</ion-button>
    </div>
  </ion-list>
</ion-content>