<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">可用余额</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">昵称</ion-label>
      <ion-input [(ngModel)]="nickname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">邀请码</ion-label>
      <ion-input [(ngModel)]="invitecode" type="text"></ion-input>
    </ion-item>
    <ion-button expand="block">提现</ion-button>
  </ion-list>
</ion-content>