<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">卡号</ion-label>
      <ion-input [(ngModel)]="cardnumber" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">归属行</ion-label>
      <ion-input [(ngModel)]="bankname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">姓名</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    <ion-button expand="block">绑定</ion-button>
  </ion-list>
</ion-content>